<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🎉🎉 You won a bet on <%= params.streamName%>, but could you have done better? </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
    </style>
</head>

<body style="margin:0;padding:0;background-color:#000000;font-family:'Inter',sans-serif;color:#FFFFFF;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0"
        style="background-color:#000000;margin:0;padding:0;width:100%;">
        <tr>
            <td>
                <div class="container" style="max-width:100%;margin:0 auto;padding:40px 20px;">
                    <!-- Logo -->
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-bottom:60px;">
                        <tr>
                            <td align="center">
                                <img src="https://streambets3dev.s3.us-east-1.amazonaws.com/logo/1ea980a5-adad-4e74-99d9-97769438c6c4-beta%20green.png"
                                    alt="Streambet Logo" width="280" style="display:block;width:280px;height:auto;" />
                            </td>
                        </tr>
                    </table>

                    <!-- Heading -->


                    <!-- Box -->
                    <div class="box"
                        style="background-color:#181818;border-radius:16px;border:1px solid #2C2C2C;padding:40px;max-width:700px;width:100%;box-sizing:border-box;margin:0 auto;">
                        <div class="box-content" style="max-width:700px;margin:0 auto;color:#FFFFFF;">
                            <p
                                style="font-size:18px;line-height:1.6;margin-bottom:10px;opacity:0.7;font-family:'Inter',sans-serif;text-transform: capitalize;color:#FFFFFF;">
                                Congratulations <%= params.fullName %>!</p>
                            <p
                                style="font-size:18px;line-height:1.6;margin-bottom:30px;opacity:0.7;font-family:'Inter',sans-serif;color:#FFFFFF;">
                                You won <%= params.amount %> Free Tokens in "
                                    <%= params.roundName %>". Your winnings have been added to your wallet.
                                        While that's awesome you built up more sweep coins, If you had bet sweep coins,
                                        you would have earned <%= params.convertedSweepCoin %> which could have been
                                            converted to cash or cash equivalents. Want to learn more about the
                                            difference between
                                            the two coins? Click the link below.

                                            <a class="btn"
                                                style="padding:14px 24px;font-size: 15px;background-color:#BDFF00;color:#000;font-weight:600;text-decoration:none;border-radius:8px;max-width:300px;margin:auto;margin-top:40px !important;margin-bottom:40px !important;display:block;text-align:center;font-family:'Inter',sans-serif;">Go
                                                to BLOG POST</a>

                                            <p
                                                style="margin-top:24px;font-size:18px;line-height:1.6;margin-bottom:30px;opacity:0.7;font-family:'Inter',sans-serif;color:#FFFFFF;">
                                                Cheers,<br /><b style="font-size:20px;">The Streambet Team</b></p>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="footer"
                        style="margin-top:60px;font-size:14px;text-align:center;color:#FFFFFF;font-family:'Inter',sans-serif;">
                        ©
                        Streambet 2025</div>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>